@inherits LayoutComponentBase

<PageTitle>GeoJsonConverter</PageTitle>

<div class="page">
    <div class="sidebar px-4">
        <NavMenu />
    </div>
    <div class="container-fluid">
        @Body
    </div>
    <div class="sidebar px-4">
        <NavMenu />
    </div>
</div>
